.bg-image{
    align-items: center;
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    text-align: center; 
    background-image: url("../images/h_img.jpg");
    color: white;
    height: 100vh;
    width: 100%;
}
#aboutus{

    text-align: center;
}
#services{
    color: white;
    text-align: center;
    background-image: url("../images/s_image.jpg");
    padding-top: 5px;
}

.contact{
    background-image: url(../images/s_image.jpg);
    text-align: center;
    margin-top: 50px;
    color: white;
    height: auto;
}

.contact h2{
    padding-top: 23px;
    padding-bottom: 23px;
}

#name{
    background: transparent;
    color: white;
}
#mail{
    background: transparent;
    color: white;
}#text{
    background: transparent;
    color: white;
}
#submit{
    text-align: center;
    padding-top: 10px;
}
 

#whatwedo{
    text-align: center;
}
.contactme{
    background-image: url("../images/c_image.jpg");
}
#design-show{
    display: none;
}
#development-show{
    display: none;
}
#product-show{
    display: none;
}

/*------Portifolio*-----*/

.row{
    text-align: center;
}

.row img{
    padding: 7px 7px;
    height: 230px;
}

.row img:hover{
    opacity: 0.3;
}

#hedin{
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
}